@model TechTestNetApp.Models.CarPurchase

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarPurchase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.carID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.carID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.orderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.orderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pricePaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pricePaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.salesPersonID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.salesPersonID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
